<div>
  <h2>Tracker Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <label>Email: </label>
      <input type="email" formControlName="email" />
    </div>
    <div>
      <label>Password: </label>
      <input type="password" formControlName="password" />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>

  <div style="margin-top: 15px;">
    <p>Don't have an account? <a [routerLink]="['/register']">Register here</a></p>
  </div>
</div>